---
# tasks file for RHEL7-CIS
- name: Check OS family
  fail: 
      msg: "This role can only be run against RHEL or Suse distributions. {{ ansible_os_family }}/{{ ansible_distribution }} {{ ansible_distribution_major_version }} is not supported."
  when: ansible_os_family is not in ["Suse", "RedHat"]
  tags:
    - always

- name: Check OS version details
  fail:
      msg: "This role can only be run against RHEL7/Suse12. {{ ansible_distribution }} {{ ansible_distribution_major_version }} is not supported."
  when: (ansible_os_family == 'RedHat' and ansible_distribution_major_version is version('7', '!=')) or
        (ansible_os_family == 'Suse' and ansible_distribution_major_version is version('12', '!=')) 
  tags:
      - always

- name: Check ansible version
  fail:
      msg: You must use ansible 2.5 or greater
  when: ansible_version.full is version('2.5', '<') 
  tags:
      - always

- include: prelim.yml
  become: yes
  tags:
      - prelim_tasks
      - always

- include: section1.yml
  become: yes
  when: rhel7cis_section1

- include: section2.yml
  become: yes
  when: rhel7cis_section2

- include: section3.yml
  become: yes
  when: rhel7cis_section3

- include: section4.yml
  become: yes
  when: rhel7cis_section4

- include: section5.yml
  become: yes
  when: rhel7cis_section5

- include: section6.yml
  become: yes
  when: rhel7cis_section6

- include: post.yml
  become: yes
  tags:
      - post_tasks
      - always